/*-----------------------------------------------MAIN------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap');
*
{
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
h1
{
    color: #f98012;
}
/*-----------------------------------------------START------------------------------------------------*/
:root 
{
    --color-primary: #f98012;
    --color-white: #e9e9e9;
    --color-black: #141d28;
    --color-black-1: #212b38;
}
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a
{
    text-decoration: none;
    color: var(--color-black);
} 
body 
{
    font-family: 'Montserrat';   
    height: 400vh;
}

.logo
{
    position: relative;
    color: var(--color-black-1);
    font-size: 30px;
    text-align: center;
    top: 1rem;
}
.logo span 
{
    color: var(--color-primary);
}
.video
{
    font-weight: bold;
    position: absolute;
    left: 15rem;
    top: 10rem;
}