/*-----------------------------------------------ANIMATIONS------------------------------------------------*/
.animation-up
{
    animation: 2s anim-lineup ease-in-out none;
}
@keyframes anim-lineup 
{
    0%
    {
        opacity: 0;
        transform: translateY(30%);
    }
    20%
    {
        opacity: 0;
    }
    50%
    {
        opacity: 1;
        transform: translateY(0%);
    }
    100%
    {
        opacity: 1;
        transform: translateY(0%)
    }
}
.animation-side
{
    animation: 1s anim-side ease-in none;
}
@keyframes anim-side
{
    0%
    {
        opacity: 0;
        transform: translateX(50%);
    }
    20%
    {
        opacity: 0;
    }
    50%
    {
        opacity: 1;
        transform: translateX(0%);
    }
    100%
    {
        opacity: 1;
        transform: translateX(0%)
    }
}

/*-----------------------------------------------MAIN------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap');
*
{
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
h1
{
    color: #f98012;
}
/*-----------------------------------------------START------------------------------------------------*/
:root 
{
    --color-primary: #f98012;
    --color-white: #e9e9e9;
    --color-black: #141d28;
    --color-black-1: #212b38;
}
  
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a
{
    text-decoration: none;
    color: var(--color-black);
} 
body 
{
    font-family: 'Montserrat';   
    height: 400vh;
}
  
.logo 
{
    color: var(--color-black-1);
    font-size: 30px;
}
  
.logo span 
{
    color: var(--color-primary);
}
  
.menu-bar 
{
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    position: fixed;
    z-index: 1000;
}
  
.menu-bar ul 
{
    list-style: none;
    display: flex;
}
  
.menu-bar ul li 
{
    /* width: 120px; */
    padding: 10px 30px;
    /* text-align: center; */  
    position: relative;
}
  
.menu-bar ul li a 
{
    font-size: 20px;
    color: var(--color-black-1);
    text-decoration: none;  
    transition: all 0.3s;
}
  
.menu-bar ul li a:hover 
{
    color: var(--color-primary);
}
  
.fas 
{
    float: right;
    margin-left: 10px;
    padding-top: 3px;
}
  
  /* dropdown menu style */
.dropdown-menu 
{
    display: none;
}
  
.menu-bar ul li:hover .dropdown-menu 
{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #ffff;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
  
.menu-bar ul li:hover .dropdown-menu ul 
{
    display: block;
    margin: 10px;
}
  
.menu-bar ul li:hover .dropdown-menu ul li 
{
    width: 150px;
    padding: 10px;
}
  
.dropdown-menu-1 
{
    display: none;
}
  
  .dropdown-menu ul li:hover .dropdown-menu-1 
{
    display: block;
    position: absolute;
    left: 150px;
    top: 0;
    background-color: #ffff;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
  
.hero 
{
    height: calc(100vh - 80px);
    background-image: url(./bg.jpg);
    background-position: center;
}
.main-text p
{
    position: absolute;
    color: #194866;
    left: 9rem;
    top: 12rem;
    font-size: 50px;
    font-weight: bolder;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: capitalize;
}
.main-text-paragraph p
{
    position: absolute;
    color: black;
    left: 55rem;
    top: 12rem;
    font-size: 20px;
    text-align: left;
    text-wrap: nowrap;
}


/******************************************************************BUTTONS*******************************************/
button
{
    background: transparent;
    border: solid #141d28 1px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 25px;
    border-radius: 20px;
    transition: ease-in 0.3s;
    font-weight: bold;
}
.btn-1
{
    position: absolute;
    top: 20rem;
    left: 55.2rem;
}
button:hover
{
    background-color: var(--color-primary);
    box-shadow: 0 0 5px var(--color-primary), 0 0 10px
    var(--color-primary), 0 0 50px var(--color-primary), 0 0 100px var(--color-primary);
    transition: ease-in 0.3s;
    border-radius: 0px;
}

.btn41-43 
{
    padding: 10px 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
}  
.btn-43 
{
    border: 2px solid #f98012;
    z-index: 1;
    color: rgb(139, 139, 139);
}  
.btn-43:after 
{
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    background: #f98012;
    transition: all 0.3s ease;
}
  
.btn-43:hover 
{
    color: rgb(255, 255, 255);
}  
.btn-43:hover:after 
{
    top: auto;
    bottom: 0;
    height: 100%;
}

/**********************************************************BUTTON END*******************************************/
.why-us
{
    position: absolute;
    left: 7rem;
}
.why-us img
{
    border-radius: 20px;
}
.why-us p
{
    position: absolute;
    left: 42rem;
    text-wrap: nowrap;
    top: 15rem;
    font-weight: 500;
}
.why-us-1
{
    position: absolute;
    left: 7rem;
}
.why-us-1 p
{
    position: absolute;
    left: 42rem;
    text-wrap: nowrap;
    text-align: left;
    top: 17rem;
    color: #194866;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.why-us-text
{
    position: absolute;
    left: 7rem;
}
.why-us-text p
{
    position: absolute;
    left: 42rem;
    text-wrap: nowrap;
    text-align: left;
    top: 30rem;
    color: gray;
}
.why-us-text-1
{
    position: absolute;
    left: 7rem;
}
.why-us-text-1 p
{
    position: absolute;
    left: 42rem;
    text-wrap: nowrap;
    text-align: left;
    top: 33.5rem;
    color: gray;
}
.why-us-circle
{
    position: absolute;
    z-index: -1;
    top: 35rem;
    left: 0rem;
}
    /* BOXES */

.box-container
{
    position: absolute;
    top: 94rem;
    padding-left: 15rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.box b
{
    color: var(--color-black);
    text-transform: capitalize;
    font-size: 15px;
    padding: 50px;
    position: relative;
    top: 1rem;
    text-wrap: wrap;
    align-items: center;
    text-align: center;
}
.box
{
    width: 410px;
    height: 300px;
    outline: solid 1px #f98012;
    border-radius: 10px;
    margin: 35px;
    box-shadow: rgba(249, 128, 18, 0.8) 0 0 0px 0px;
    transition: 0.4s ease-in-out;
}
.box:hover
{
    transition: 0.4s ease-in-out;
    box-shadow: rgba(249, 128, 18, 0.8) 0 0 10px 4px;
}
.box p
{
    color: #9096a2;
    padding: 80px;
    font-weight: 500;
}

 /********************************************************FAQ*******************************************************************/

 .faq-text p
{
    position: relative;
    color: #194866;
    top: 105rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    font-weight: bolder;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    text-align: center;
}
.faq-container
{
    position: relative;
    height: 400px;
    width: 100%;
    background-color: #f98012;
    top: 110rem;
}